*{
    border: 0px solid white;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #080A0C ;
    color: #D1D5DB;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-weight: 600;
}


/*___Menu de navegacion___*/
.menu__nav{
    margin: 10px;
    align-content: center;

    font-family: "Inter";

    display: flex;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.menu__item{
    margin: 0 25px;
    text-decoration: none;
    color: #D1D5DB;
    
    text-align: center;
    align-content: center;
    background-color: transparent;
    width: 110px;
    height: 45px;
    border-radius: 15px;
    transition: border-bottom 0.2s ease, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.menu__item:hover{

    border-bottom: 2px solid #10B981;

    box-shadow: 0 0 12px rgba(16, 185, 129, 0.2);
}

.menu__item:active{
    transform: scale(0.93);
}


/*___Boton general___*/
.boton_general{
    background-color: #10B981;
    font-size: 20px;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    margin: 20px;

    font-family: "Inter", sans-serif;
    color: #D1D5DB;

    transition: background-color 0.2s ease-out, transform 0.1s ease-in-out;
}

.boton_general:hover{

    border: 1px solid #10B981;

    background-color: #1F2937;

    box-shadow: 0 0 12px rgba(16, 185, 129, 0.2);
}

.boton_general:active{
    transform: scale(0.95);
}

.boton_atras{
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 8px;

    border: none !important;
}

/*___FooteraGeneral___*/

.footer{
    background-color: #111418;
    width: 100%;
    height: auto;
    border-top: 1px solid #1F2937;
}

.contenedor__principal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.menu__footer{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

